<launch>

    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find mbot_gazebo)/worlds/training_worlds.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>


    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_kinect_gazebo.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model robot -x 4.0 -y 4.0 -param robot_description"/> 


<group ns="target_robot">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_1" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_dvs_gazebo_1.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model target_robot -x 0.0 -y 0.0 -param robot_description_1"/> 

</group>

<group ns="people_robot1">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_2" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people1.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people1_robot -x 7.0 -y 4.0 -param robot_description_2"/> 

</group>

<group ns="people_robot2">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_3" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people2.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people2_robot -x 7.0 -y 7.0 -param robot_description_3"/> 

</group>

<group ns="people_robot3">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_4" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people3.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people3_robot -x 10.0 -y 9.0 -param robot_description_4"/> 

</group>

<group ns="people_robot4">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_5" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people4.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people4_robot -x 12.0 -y 5.0 -param robot_description_5"/> 

</group>

<group ns="people_robot5">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_6" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people5.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people5_robot -x 5.0 -y 12.0 -param robot_description_6"/> 

</group>

<group ns="people_robot6">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_7" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people6.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people6_robot -x 10.0 -y 13.0 -param robot_description_7"/> 

</group>

<group ns="people_robot7">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_8" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people7.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people7_robot -x 12.0 -y 11.0 -param robot_description_8"/> 

</group>

<group ns="people_robot8">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_9" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people8.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people8_robot -x 5.0 -y 9.0 -param robot_description_9"/> 

</group>

<group ns="people_robot9">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_10" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people9.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people9_robot -x 13.0 -y 8.0 -param robot_description_10"/> 

</group>

<group ns="people_robot10">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_11" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people10.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people10_robot -x 10.0 -y 6.0 -param robot_description_11"/> 

</group>

<group ns="people_robot11">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_12" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people11.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people11_robot -x 7.0 -y 13.0 -param robot_description_12"/> 

</group>

<group ns="people_robot12">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_13" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people12.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people12_robot -x 13.0 -y 13.0 -param robot_description_13"/> 

</group>

<group ns="people_robot13">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_14" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people13.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people13_robot -x 10.0 -y 4.0 -param robot_description_14"/> 

</group>

<group ns="people_robot14">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_15" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people14.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people14_robot -x 4.0 -y 6.0 -param robot_description_15"/> 

</group>

<group ns="people_robot15">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_16" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people15.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people15_robot -x 17.0 -y 0.0 -param robot_description_16"/> 

</group>

<group ns="people_robot16">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_17" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people16.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people16_robot -x 18.0 -y 0.0 -param robot_description_17"/> 

</group>

<group ns="people_robot17">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_18" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people17.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people17_robot -x 19.0 -y 0.0 -param robot_description_18"/> 

</group>

<group ns="people_robot18">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_19" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people18.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people18_robot -x 20.0 -y 0.0 -param robot_description_19"/> 

</group>

<group ns="people_robot19">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_20" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people19.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people19_robot -x 21.0 -y 0.0 -param robot_description_20"/> 

</group>

<group ns="people_robot20">
    <!-- 加载机器人模型描述参数 -->
    <param name="robot_description_21" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/mbot_with_gazebo_people20.xacro'" /> 

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model people20_robot -x 22.0 -y 0.0 -param robot_description_21"/> 

</group>

</launch>
